<div class="nav-wrapper">
    <!-- Navbar with app icon, search form, and menus -->
    <nav class="navbar navbar-expand-sm" [ngClass]="{'navbar-light bg-light': !isDark(), 'navbar-dark bg-dark': isDark()}">
        <uib-zone id="navbar" class="container-xl" *ngIf="loginService.complete">
            <!-- Application logo -->
            <ng-template uib-template="logo" let-config>
                <a [routerLink]="['/home']" title="Home">
                    <img id="logo" [src]="config.logoLightLg" alt="sinequa logo" *ngIf="config.logoLightLg && !isDark() && ui.screenSizeIsGreater('md')">
                    <img id="logo" [src]="config.logoLightSm" alt="sinequa logo" *ngIf="config.logoLightSm && !isDark() && ui.screenSizeIsLessOrEqual('md')">
                    <img id="logo" [src]="config.logoDarkLg" alt="sinequa logo" *ngIf="config.logoDarkLg && isDark() && ui.screenSizeIsGreater('md')">
                    <img id="logo" [src]="config.logoDarkSm" alt="sinequa logo" *ngIf="config.logoDarkSm && isDark() && ui.screenSizeIsLessOrEqual('md')">
                </a>
            </ng-template>

            <!-- Search form -->
            <ng-template uib-template="search-form" let-config>
                <app-search-form
                    [autocompleteSources]="config.autocompleteSources"
                    [enableVoiceRecognition]="config.enableVoiceRecognition"
                    [keepTab]="config.keepTab"
                    [enableKeepFilters]="config.enableKeepFilters"
                    [keepFilters]="config.keepFilters"
                    [enableAdvancedForm]="config.enableAdvancedForm"
                    [keepAdvancedSearchFilters]="config.keepAdvancedSearchFilters">
                </app-search-form>
            </ng-template>

            <ng-template uib-template="baskets-menu">
                <sq-baskets-menu [icon]="'fas fa-inbox'"></sq-baskets-menu>
            </ng-template>

            <ng-template uib-template="saved-queries-menu">
                <sq-saved-queries-menu></sq-saved-queries-menu>
            </ng-template>
            
            <ng-template uib-template="alerts-menu">
                <sq-alerts-menu></sq-alerts-menu>
            </ng-template>
            
            <ng-template uib-template="labels-menu">
                <sq-labels-menu [results]="results$ | async"></sq-labels-menu>
            </ng-template>

            <ng-template uib-template="user-menu">
                <sq-user-menu></sq-user-menu>
            </ng-template>

            <ng-template uib-template="feedback-menu">
                <sq-feedback-menu [style]="'primary'" [rightAligned]="true" *ngIf="loginService.complete"></sq-feedback-menu>
            </ng-template>
        </uib-zone>
    </nav>

    <!-- Loading bar (Manages its own state and visibility via the search service) -->
    <sq-loading-bar></sq-loading-bar>
</div>

<!-- Main interface -->
<div class="container-xl main" *ngIf="loginService.complete">
    <div class="row" *ngIf="results$ | async; let results">

        <!-- Left facet bar -->
        <div class="col-md-4 col-lg-3 col-xl-2" *ngIf="showFilters" [sqSticky]="{top: 70, bottom: 80}">
            <uib-zone id="facets" [conditionsData]="conditionsData">
                <ng-template uib-template="facet-list" let-config>
                    <sq-facet-card class="d-block mb-1" [title]="config.title" [icon]="config.icon" [collapsible]="false">
                        <sq-facet-list #facet [results]="results"
                            [aggregation]="config.aggregation"
                            [showCount]="config.showCount"
                            [searchable]="config.searchable"
                            [allowExclude]="config.allowExclude"
                            [allowOr]="config.allowOr"
                            [allowAnd]="config.allowAnd"
                            [displayEmptyDistributionIntervals]="config.displayEmptyDistributionIntervals"
                        ></sq-facet-list>
                    </sq-facet-card>
                </ng-template>
                
                <ng-template uib-template="facet-tree" let-config>
                    <sq-facet-card class="d-block mb-1" [title]="config.title" [icon]="config.icon" [collapsible]="false">
                        <sq-facet-tree #facet
                            [results]="results"
                            [aggregation]="config.aggregation"
                            [showCount]="config.showCount"
                            [searchable]="config.searchable"
                            [allowExclude]="config.allowExclude"
                            [allowOr]="config.allowOr"
                        ></sq-facet-tree>
                    </sq-facet-card>
                </ng-template>
                
                <ng-template uib-template="facet-multi" let-config>
                    <sq-facet-card class="d-block mb-1" [title]="getMultiFacetTitle(config.id, config.title)" [icon]="getMultiFacetIcon(config.id, config.icon)" [collapsible]="false">
                        <sq-facet-multi #facet
                            [results]="results"
                            [facets]="config.facets"
                            [showProgressBar]="false"
                            (events)="facetChanged(config.id, $event)"
                        ></sq-facet-multi>
                    </sq-facet-card>
                </ng-template>
            </uib-zone>
        </div>

        <!-- Result selection toolbar -->
        <div class="card-action-bar rounded text-white bg-primary position-fixed w-auto" *ngIf="ui.screenSizeIsGreater('sm')">
            <div class="p-2">
                <sq-results-selector [style]="'primary'"></sq-results-selector>
            </div>
        </div>

        <!-- Results -->
        <div class="col-lg-5" [ngClass]="{'col-md-7': !showFilters, 'col-md-8': showFilters}" *ngIf="showResults">

            <uib-zone id="results-header" [conditionsData]="conditionsData">
                <ng-template uib-template="tabs">
                    <sq-tabs [results]="results"></sq-tabs>
                </ng-template>

                <ng-template uib-template="my-search" let-config>
                    <sq-facet-mysearch [results]="results" [allowDeletion]="config.allowDeletion"></sq-facet-mysearch>
                </ng-template>

                <ng-template uib-template="result-counter">
                    <sq-results-counter [rowCount]="searchService.rowCount"></sq-results-counter>
                </ng-template>

                <ng-template uib-template="sort-selector" let-config>
                    <sq-sort-selector [results]="results" [rightAligned]="config.rightAligned"></sq-sort-selector>
                </ng-template>

                <ng-template uib-template="did-you-mean">
                    <sq-did-you-mean [results]="results"></sq-did-you-mean>
                </ng-template>

                <ng-template uib-template="sponsored-results">
                    <sq-sponsored-results [query]="searchService.query"></sq-sponsored-results>
                </ng-template>
            </uib-zone>

            <!-- List of documents (for loop) -->
            <uib-zone id="results" [data]="results.records" [conditionsData]="conditionsData" (itemClicked)="onDocumentClicked($event.data, $event.event)" class="result-list">

                <ng-template uib-template="result-selector" let-config let-record="data">
                    <sq-result-selector [record]="record"></sq-result-selector>
                </ng-template>

                <ng-template uib-template="result-title" let-config let-record="data">
                    <sq-result-title [record]="record" (titleClicked)="openPreviewIfNoUrl(record, $event)"></sq-result-title>
                </ng-template>

                <ng-template uib-template="result-source" let-config let-record="data">
                    <sq-result-source [record]="record" [displayTreepath]="config.displayTreepath" [displayUrl]="config.displayUrl" [displayTreepathMinLevel]="config.displayTreepathMinLevel" [displayTreepathMaxLevel]="config.displayTreepathMaxLevel"></sq-result-source>
                </ng-template>

                <ng-template uib-template="result-extracts" let-config let-record="data">
                    <sq-result-extracts [record]="record" [showLongExtracts]="config.showLongExtracts" [hideDate]="config.hideDate" [maxLongExtracts]="config.maxLongExtracts"></sq-result-extracts>
                </ng-template>

                <ng-template uib-template="result-icon" let-config let-record="data">
                    <sq-result-icon [record]="record" [size]="config.size">
                    </sq-result-icon>
                </ng-template>

                <ng-template uib-template="result-missing-terms" let-config let-record="data">
                    <sq-result-missing-terms [record]="record"></sq-result-missing-terms>
                </ng-template>

                <ng-template uib-template="result-labels" let-config let-record="data">
                    <sq-labels [record]="record" [public]="config.public" [enableDelete]="config.enableDelete"></sq-labels>
                </ng-template>

                <ng-template uib-template="result-thumbnail" let-config let-record="data">
                    <sq-result-thumbnail [record]="record" [thumbnailColumn]="config.thumbnailColumn" [linkBehavior]="config.linkBehavior" [defaultThumbnail]="config.defaultThumbnail">
                    </sq-result-thumbnail>
                </ng-template>

                <ng-template uib-template="result-metadata" let-config let-record="data">
                    <sq-metadata-item [record]="record" [item]="config.item" [showTitle]="config.showTitle" [showIcon]="config.showIcon" [showCounts]="config.showCounts" [showEntityTooltip]="config.showEntityTooltip" [clickable]="config.clickable" (select)="onMetadataSelect($event.item, $event.valueItem)"></sq-metadata-item>
                </ng-template>
            </uib-zone>

            <!-- Infinite scroll -->
            <sq-scroller></sq-scroller>

            <!-- Pagination -->
            <!-- <sq-pager [results]="results" class="d-flex flex-column align-items-center mt-3"></sq-pager> -->
        </div>

        <!-- Right part-->
        <div class="col-md-5 col-lg-4 col-xl-5" [sqSticky]="{top: 70, bottom: 30}">

            <!-- Scaled-down preview -->
            <sq-facet-card *ngIf="openedDoc" [collapsible]="false" class="d-block mb-3 facet-preview"
                [actionsSize]="''">
                <sq-facet-preview-2 #facet
                    [record]="openedDoc"
                    [query]="searchService.query"
                    [height]="750"
                    [metadata]="metadata"
                    [expandModal]="false"
                    [customActions]="previewCustomActions"
                    (recordClosed)="closeDocument()"
                    (previewLoaded)="previewReady($event)">
                </sq-facet-preview-2>
            </sq-facet-card>

        </div>
    </div>
</div>

<div class="uib-bootstrap" *ngIf="loginService.complete">
    <!-- bootstrap classes are now allowed here -->
        
    <uib-toolbar>
        <ng-template>
            <button [hidden]="exportInProgress" type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <button *ngIf="exportInProgress" class="btn btn-primary" disabled>
                <span class="fas fa-fw fa-spinner fa-spin"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <input #importConfigElement type="file" accept="application/JSON" (change)="importConfig(importConfigElement)" style="display:none;"/>
                    <a class="dropdown-item" href="#" (click)="importConfigElement.click(); $event.preventDefault()">
                        <i class="fas fa-fw fa-folder-open"></i>
                        Open configuration as JSON
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" (click)="exportConfig(); $event.preventDefault()">
                        <i class="fas fa-fw fa-save"></i>
                        Download configuration as JSON
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="#" (click)="exportApp(); $event.preventDefault()">
                        <i class="fas fa-fw fa-download"></i>
                        Export as a static Angular application
                    </a>
                </li>
            </ul>
        </ng-template>
    </uib-toolbar>
  
    <!-- CONFIGURATOR -->
  
    <uib-configurator>
      <ng-template uib-template="facet-list" let-context>
        <sq-facet-configurator [context]="context" [isTreeFacet]="false"></sq-facet-configurator>
      </ng-template>
      
      <ng-template uib-template="facet-tree" let-context>
        <sq-facet-configurator [context]="context" [isTreeFacet]="true"></sq-facet-configurator>
      </ng-template>
      
      <ng-template uib-template="facet-multi" let-context>
        <sq-facet-multi-configurator [context]="context"></sq-facet-multi-configurator>
      </ng-template>

      <ng-template uib-template="result-source" let-context>
        <sq-checkbox [context]="context" property="displayTreepath" label="Display Treepath"></sq-checkbox>
        <sq-checkbox [context]="context" property="displayUrl" label="Display URL"></sq-checkbox>
      </ng-template>
  
      <ng-template uib-template="result-extracts" let-context>
        <sq-checkbox [context]="context" property="showLongExtracts" label="Show long extracts"></sq-checkbox>
        <label for="maxLongExtracts">Max long extracts</label>
        <input type="text" class="form-control mb-1" id="maxLongExtracts" autocomplete="off" spellcheck="off" [(ngModel)]="context.config.maxLongExtracts" (ngModelChangeDebounced)="context.configChanged()">
        <sq-checkbox [context]="context" property="hideDate" label="Hide date"></sq-checkbox>
      </ng-template>

      <ng-template uib-template="result-icon" let-context>
        <label for="size">Size</label>
        <input type="text" class="form-control mb-1" id="size" autocomplete="off" spellcheck="off" [(ngModel)]="context.config.size" (ngModelChangeDebounced)="context.configChanged()">
      </ng-template>

      <ng-template uib-template="result-labels" let-context>
        <sq-checkbox [context]="context" property="public" label="Public labels"></sq-checkbox>
        <sq-checkbox [context]="context" property="enableDelete" label="Enable delete"></sq-checkbox>
      </ng-template>

      <ng-template uib-template="result-thumbnail" let-context>
        <label for="thumbnailColumn">Custom thumbnail column</label>
        <input type="text" class="form-control mb-1" id="thumbnailColumn" autocomplete="off" spellcheck="off" [(ngModel)]="context.config.thumbnailColumn" (ngModelChangeDebounced)="context.configChanged()">
        <label for="defaultThumbnail">Default thumbnail URL</label>
        <input type="text" class="form-control mb-1" id="defaultThumbnail" autocomplete="off" spellcheck="off" [(ngModel)]="context.config.defaultThumbnail" (ngModelChangeDebounced)="context.configChanged()">
        <label for="linkBehavior">Click behavior</label>
        <select id="linkBehavior" class="form-select mb-1" [(ngModel)]="context.config.linkBehavior" (ngModelChange)="context.configChanged()">
            <option [ngValue]="'open'">Open original document</option>
            <option [ngValue]="'action'">Custom action (or none)</option>
        </select>
      </ng-template>

      <ng-template uib-template="result-metadata" let-context>
          <sq-metadata-configurator [context]="context"></sq-metadata-configurator>
      </ng-template>
      
      <ng-template uib-template="sort-selector" let-context>
        <sq-checkbox [context]="context" property="rightAligned" label="Right aligned"></sq-checkbox>
      </ng-template>
      
      <ng-template uib-template="my-search" let-context>
        <sq-checkbox [context]="context" property="allowDeletion" label="Allow delete"></sq-checkbox>
      </ng-template>

      <ng-template uib-template="search-form" let-context>
        <sq-search-form-configurator [context]="context"></sq-search-form-configurator>
      </ng-template>

      <ng-template uib-template="logo" let-context>
        <sq-img-selector [context]="context" param="logoLightLg" description="Large logo (light mode)" class="d-block mb-3"></sq-img-selector>
        <sq-img-selector [context]="context" param="logoLightSm" description="Small logo (light mode)" class="d-block mb-3"></sq-img-selector>
        <sq-img-selector [context]="context" param="logoDarkLg" description="Large logo (dark mode)" class="d-block mb-3"></sq-img-selector>
        <sq-img-selector [context]="context" param="logoDarkSm" description="Small logo (dark mode)" class="d-block mb-3"></sq-img-selector>
      </ng-template>

      <ng-template uib-template="_container" let-context>
        <sq-predefined-results-layouts *ngIf="context.context.id === 'results'" class="d-block mb-3"></sq-predefined-results-layouts>
      </ng-template>
    </uib-configurator>
  </div>