<div class="nav-wrapper">
    <!-- Navbar with app icon, search form, and menus -->
    <nav class="navbar navbar-expand-sm" [ngClass]="{'navbar-light bg-light': !isDark(), 'navbar-dark bg-dark': isDark()}">
        <div class="container-xl">

            <!-- Application logo -->
            <a [routerLink]="['/home']" title="Home">
                <img id="logo" src="assets/sinequa-logo-light-lg.png" alt="sinequa logo" width="160px" *ngIf="!isDark() && ui.screenSizeIsGreater('md')">
                <img id="logo" src="assets/sinequa-logo-light-sm.png" alt="sinequa logo" width="40px" *ngIf="!isDark() && ui.screenSizeIsLessOrEqual('md')">
                <img id="logo" src="assets/sinequa-logo-dark-lg.png" alt="sinequa logo" width="160px" *ngIf="isDark() && ui.screenSizeIsGreater('md')">
                <img id="logo" src="assets/sinequa-logo-dark-sm.png" alt="sinequa logo" width="40px" *ngIf="isDark() && ui.screenSizeIsLessOrEqual('md')">
            </a>

            <!-- Button to toggle the visibility of facets on small screens -->
            <button *ngIf="ui.screenSizeIsLessOrEqual('md')" class="ms-2 btn btn-lg btn-light" title="{{ 'msg#search.showFilters' | sqMessage }}"
                (click)="toggleFilters()">
                <i class="fas fa-filter text-muted"></i>
            </button>

            <!-- Search form -->
            <app-search-form class="flex-grow-1 flex-basis-0 mx-3" *ngIf="showForm"></app-search-form>

            <!-- User menu which visibility can be toggled with a button on small screens -->
            <button *ngIf="ui.screenSizeIsLess('sm') && !showFilters" class="btn btn-lg btn-light" title="{{ 'msg#search.showMenu' | sqMessage }}"
                (click)="toggleMenu()">
                <i class="fas fa-bars text-muted"></i>
            </button>
            <ul class="navbar-nav navbar-right" *ngIf="showMenu" [ngClass]="{'full-width': ui.screenSizeIsLess('sm')}">
                <ng-container *ngFor="let feature of features" [ngSwitch]="feature">
                    <sq-baskets-menu *ngSwitchCase="'baskets'" [icon]="'fas fa-inbox'"></sq-baskets-menu>
                    <sq-saved-queries-menu *ngSwitchCase="'saved-queries'"></sq-saved-queries-menu>
                    <sq-alerts-menu *ngSwitchCase="'alerts'"></sq-alerts-menu>
                    <sq-labels-menu *ngSwitchCase="'labels'" [results]="results$ | async"></sq-labels-menu>
                </ng-container>
                <sq-user-menu></sq-user-menu>
            </ul>

            <sq-feedback-menu [style]="'primary'" [rightAligned]="true" class="ms-1" *ngIf="loginService.complete"></sq-feedback-menu>

        </div>
    </nav>

    <!-- Loading bar (Manages its own state and visibility via the search service) -->
    <sq-loading-bar></sq-loading-bar>
</div>

<!-- Main interface -->
<div class="container-xl main" *ngIf="loginService.complete">
    <div class="row" *ngIf="results$ | async; let results">

        <!-- Left facet bar -->
        <div class="col-md-4 col-lg-3 col-xl-2" *ngIf="showFilters" [sqSticky]="{top: 70, bottom: 80}">
            <uib-zone id="facets">
                <ng-template uib-template="facet-list" let-config>
                    <sq-facet-card class="d-block mb-1" [title]="config.title" [icon]="config.icon" [collapsible]="false">
                        <sq-facet-list #facet [results]="results"
                            [aggregation]="config.aggregation"
                            [showCount]="config.showCount"
                            [searchable]="config.searchable"
                            [allowExclude]="config.allowExclude"
                            [allowOr]="config.allowOr"
                            [allowAnd]="config.allowAnd"
                            [displayEmptyDistributionIntervals]="config.displayEmptyDistributionIntervals"
                        ></sq-facet-list>
                    </sq-facet-card>
                </ng-template>
                
                <ng-template uib-template="facet-tree" let-config>
                    <sq-facet-card class="d-block mb-1" [title]="config.title" [icon]="config.icon" [collapsible]="false">
                        <sq-facet-tree #facet
                            [results]="results"
                            [aggregation]="config.aggregation"
                            [showCount]="config.showCount"
                            [searchable]="config.searchable"
                            [allowExclude]="config.allowExclude"
                            [allowOr]="config.allowOr"
                        ></sq-facet-tree>
                    </sq-facet-card>
                </ng-template>
            </uib-zone>
        </div>

        <!-- Result selection toolbar -->
        <div class="card-action-bar rounded text-white bg-primary position-fixed w-auto" *ngIf="ui.screenSizeIsGreater('sm')">
            <div class="p-2">
                <sq-results-selector [style]="'primary'"></sq-results-selector>
            </div>
        </div>

        <!-- Results -->
        <div class="col-lg-5" [ngClass]="{'col-md-7': !showFilters, 'col-md-8': showFilters}" *ngIf="showResults">

            <uib-zone id="results-header">
                <ng-template uib-template="tabs">
                    <sq-tabs [results]="results"></sq-tabs>
                </ng-template>

                <ng-template uib-template="my-search" let-config>
                    <sq-facet-mysearch [results]="results" [allowDeletion]="config.allowDeletion"></sq-facet-mysearch>
                </ng-template>

                <ng-template uib-template="result-counter">
                    <sq-results-counter [rowCount]="searchService.rowCount"></sq-results-counter>
                </ng-template>

                <ng-template uib-template="sort-selector" let-config>
                    <sq-sort-selector [results]="results" [rightAligned]="config.rightAligned"></sq-sort-selector>
                </ng-template>

                <ng-template uib-template="did-you-mean">
                    <sq-did-you-mean [results]="results"></sq-did-you-mean>
                </ng-template>

                <ng-template uib-template="sponsored-results">
                    <sq-sponsored-results [query]="searchService.query"></sq-sponsored-results>
                </ng-template>
            </uib-zone>

            <!-- List of documents (for loop) -->
            <uib-zone id="results" [data]="results.records">

                <ng-template uib-template="result-selector" let-config let-record="data">
                    <sq-result-selector [record]="record"></sq-result-selector>
                </ng-template>

                <ng-template uib-template="result-title" let-config let-record="data">
                    <sq-result-title [record]="record" (titleClicked)="openPreviewIfNoUrl(record, $event)"></sq-result-title>
                </ng-template>

                <ng-template uib-template="result-source" let-config let-record="data">
                    <sq-result-source [record]="record" [displayTreepath]="config.displayTreepath" [displayUrl]="config.displayUrl" [displayTreepathMinLevel]="config.displayTreepathMinLevel" [displayTreepathMaxLevel]="config.displayTreepathMaxLevel"></sq-result-source>
                </ng-template>

                <ng-template uib-template="result-extracts" let-config let-record="data">
                    <sq-result-extracts [record]="record" [showLongExtracts]="config.showLongExtracts" [hideDate]="config.hideDate" [maxLongExtracts]="config.maxLongExtracts"></sq-result-extracts>
                </ng-template>

                <ng-template uib-template="result-icon" let-config let-record="data">
                    <sq-result-icon [record]="record" [size]="config.size">
                    </sq-result-icon>
                </ng-template>

                <ng-template uib-template="result-missing-terms" let-config let-record="data">
                    <sq-result-missing-terms [record]="record"></sq-result-missing-terms>
                </ng-template>

                <ng-template uib-template="result-labels" let-config let-record="data">
                    <sq-labels [record]="record" [public]="config.public" [enableDelete]="config.enableDelete"></sq-labels>
                </ng-template>

                <ng-template uib-template="result-thumbnail" let-config let-record="data">
                    <sq-result-thumbnail [record]="record" [thumbnailColumn]="config.thumbnailColumn" [linkBehavior]="config.linkBehavior" [defaultThumbnail]="config.defaultThumbnail">
                    </sq-result-thumbnail>
                </ng-template>

                <ng-template uib-template="result-metadata" let-config let-record="data">
                    <sq-metadata-item [record]="record" [item]="config.item" [showTitle]="config.showTitle" [showIcon]="config.showIcon" [showCounts]="config.showCounts" [showEntityTooltip]="config.showEntityTooltip" [clickable]="config.clickable" (select)="onMetadataSelect(config.item, $event)"></sq-metadata-item>
                </ng-template>
            </uib-zone>

            <!-- Infinite scroll -->
            <sq-scroller></sq-scroller>

            <!-- Pagination -->
            <!-- <sq-pager [results]="results" class="d-flex flex-column align-items-center mt-3"></sq-pager> -->
        </div>

        <!-- Right part-->
        <div class="col-md-5 col-lg-4 col-xl-5" [sqSticky]="{top: 70, bottom: 30}">

            <!-- Scaled-down preview -->
            <sq-facet-card *ngIf="openedDoc" [collapsible]="false" class="d-block mb-3 facet-preview"
                [actionsSize]="''">
                <sq-facet-preview-2 #facet
                    [record]="openedDoc"
                    [query]="searchService.query"
                    [height]="750"
                    [metadata]="metadata"
                    [expandModal]="false"
                    [customActions]="previewCustomActions"
                    (recordClosed)="closeDocument()"
                    (previewLoaded)="previewReady($event)">
                </sq-facet-preview-2>
            </sq-facet-card>

        </div>
    </div>
</div>

<div class="uib-bootstrap" *ngIf="loginService.complete">
    <!-- bootstrap classes are now allowed here -->
    
    <uib-toolbar></uib-toolbar>
  
    <!-- CONFIGURATOR -->
  
    <uib-configurator>
      <ng-template uib-template="facet-list" let-context>
        <sq-facet-configurator [context]="context" [isTreeFacet]="false"></sq-facet-configurator>
      </ng-template>
      
      <ng-template uib-template="facet-tree" let-context>
        <sq-facet-configurator [context]="context" [isTreeFacet]="true"></sq-facet-configurator>
      </ng-template>

      <ng-template uib-template="result-source" let-context>
        <sq-checkbox [context]="context" property="displayTreepath" label="Display Treepath"></sq-checkbox>
        <sq-checkbox [context]="context" property="displayUrl" label="Display URL"></sq-checkbox>
      </ng-template>
  
      <ng-template uib-template="result-extracts" let-context>
        <sq-checkbox [context]="context" property="showLongExtracts" label="Show long extracts"></sq-checkbox>
        <label for="maxLongExtracts">Max long extracts</label>
        <input type="text" class="form-control mb-1" id="maxLongExtracts" autocomplete="off" spellcheck="off" [(ngModel)]="context.config.maxLongExtracts" (ngModelChange)="context.configChanged()">
        <sq-checkbox [context]="context" property="hideDate" label="Hide date"></sq-checkbox>
      </ng-template>

      <ng-template uib-template="result-icon" let-context>
        <label for="size">Size</label>
        <input type="text" class="form-control mb-1" id="size" autocomplete="off" spellcheck="off" [(ngModel)]="context.config.size" (ngModelChange)="context.configChanged()">
      </ng-template>

      <ng-template uib-template="result-labels" let-context>
        <sq-checkbox [context]="context" property="public" label="Public labels"></sq-checkbox>
        <sq-checkbox [context]="context" property="enableDelete" label="Enable delete"></sq-checkbox>
      </ng-template>

      <ng-template uib-template="result-thumbnail" let-context>
        <label for="thumbnailColumn">Custom thumbnail column</label>
        <input type="text" class="form-control mb-1" id="thumbnailColumn" autocomplete="off" spellcheck="off" [(ngModel)]="context.config.thumbnailColumn" (ngModelChange)="context.configChanged()">
        <label for="defaultThumbnail">Default thumbnail URL</label>
        <input type="text" class="form-control mb-1" id="defaultThumbnail" autocomplete="off" spellcheck="off" [(ngModel)]="context.config.defaultThumbnail" (ngModelChange)="context.configChanged()">
        <label for="linkBehavior">Click behavior</label>
        <select id="linkBehavior" class="form-select mb-1" [(ngModel)]="context.config.linkBehavior" (ngModelChange)="context.configChanged()">
            <option [ngValue]="'open'">Open original document</option>
            <option [ngValue]="'action'">Custom action (or none)</option>
        </select>
      </ng-template>

      <ng-template uib-template="result-metadata" let-context>
          <sq-metadata-configurator [context]="context"></sq-metadata-configurator>
      </ng-template>
      
      <ng-template uib-template="sort-selector" let-context>
        <sq-checkbox [context]="context" property="rightAligned" label="Right aligned"></sq-checkbox>
      </ng-template>
      
      <ng-template uib-template="my-search" let-context>
        <sq-checkbox [context]="context" property="allowDeletion" label="Allow delete"></sq-checkbox>
      </ng-template>

      <ng-template uib-template="container" let-context>  
        <uib-palette [context]="context.context" [configurators]="context.configurators"></uib-palette>  
      </ng-template>
    </uib-configurator>
  </div>