<!-- Navbar with app icon, search form, and menus -->
<nav class="navbar navbar-expand-sm bg-light sticky-top" [ngClass]="{'navbar-dark': ui.isDark()}">
    <uib-zone id="navbar" class="container-xl flex-nowrap" *ngIf="loginService.complete">
        <!-- Application logo -->
        <ng-template uib-template="logo" display="App logo" let-config>
            <a [routerLink]="['/home']" title="Home">
                <img id="logo" [src]="config.images.logoLightLg.filename" [attr.width]="config.images.logoLightLg.width" [attr.height]="config.images.logoLightLg.height" alt="sinequa logo" *ngIf="config.images && !ui.isDark() && ui.screenSizeIsGreater('md')">
                <img id="logo" [src]="config.images.logoLightSm.filename" [attr.width]="config.images.logoLightSm.width" [attr.height]="config.images.logoLightSm.height" alt="sinequa logo" *ngIf="config.images && !ui.isDark() && ui.screenSizeIsLessOrEqual('md')">
                <img id="logo" [src]="config.images.logoDarkLg.filename" [attr.width]="config.images.logoDarkLg.width" [attr.height]="config.images.logoDarkLg.height" alt="sinequa logo" *ngIf="config.images && ui.isDark() && ui.screenSizeIsGreater('md')">
                <img id="logo" [src]="config.images.logoDarkSm.filename" [attr.width]="config.images.logoDarkSm.width" [attr.height]="config.images.logoDarkSm.height" alt="sinequa logo" *ngIf="config.images && ui.isDark() && ui.screenSizeIsLessOrEqual('md')">
            </a>
        </ng-template>

        <!-- Search form -->
        <ng-template uib-template="search-form" display="Search form" let-config>
            <app-search-form class="app-search-form" [autocompleteSources]="config.autocompleteSources"></app-search-form>
        </ng-template>

        <ng-template uib-template="baskets-menu" display="Collections menu">
            <sq-baskets-menu icon="fas fa-inbox"></sq-baskets-menu>
        </ng-template>

        <ng-template uib-template="saved-queries-menu" display="Saved queries menu">
            <sq-saved-queries-menu></sq-saved-queries-menu>
        </ng-template>

        <ng-template uib-template="alerts-menu" display="Alerts menu">
            <sq-alerts-menu></sq-alerts-menu>
        </ng-template>

        <ng-template uib-template="labels-menu" display="Labels menu">
            <sq-labels-menu [results]="results$ | async"></sq-labels-menu>
        </ng-template>

        <ng-template uib-template="user-menu" display="User menu">
            <sq-user-menu [display]="'fullName'"></sq-user-menu>
        </ng-template>

        <ng-template uib-template="feedback-menu" display="Feedback menu">
            <sq-feedback-menu [style]="'primary'" [rightAligned]="true" *ngIf="loginService.complete"></sq-feedback-menu>
        </ng-template>
    </uib-zone>

    <!-- only visible when user is not authenticated yet -->
    <div class="container-xl justify-content-end" *ngIf="!loginService.complete">
      <div class="navbar-nav navbar-right">
        <sq-user-menu display="fullName"></sq-user-menu>
      </div>
    </div>
</nav>

<!-- Loading bar (Manages its own state and visibility via the search service) -->
<sq-loading-bar></sq-loading-bar>

<!-- Main interface -->
<div class="container-xl main" *ngIf="loginService.complete">
    <div class="row" *ngIf="results$ | async; let results">

        <!-- Left facet bar -->
        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 sq-facet-bar" *ngIf="showFilters" [sqSticky]="{top: 96, bottom: 10}">
            <uib-zone id="facets" [conditionsData]="conditionsData">
                <ng-template uib-template="facet-list" display="List facet" title="A component that displays a list of metadata to filter the results" let-config>
                    <sq-facet-card class="d-block" [title]="config.title" [icon]="config.icon" [collapsible]="config.collapsible">
                        <sq-facet-list #facet [results]="results"
                            [aggregation]="config.parameters.aggregation"
                            [showCount]="config.parameters.showCount"
                            [searchable]="config.parameters.searchable"
                            [allowExclude]="config.parameters.allowExclude"
                            [allowOr]="config.parameters.allowOr"
                            [allowAnd]="config.parameters.allowAnd"
                            [displayEmptyDistributionIntervals]="config.parameters.displayEmptyDistributionIntervals"
                        ></sq-facet-list>
                    </sq-facet-card>
                </ng-template>

                <ng-template uib-template="facet-tree" display="Tree facet" title="A component that displays a tree-structured metadata to filter the results" let-config>
                    <sq-facet-card class="d-block" [title]="config.title" [icon]="config.icon" [collapsible]="config.collapsible">
                        <sq-facet-list #facet
                            [results]="results"
                            [aggregation]="config.parameters.aggregation"
                            [showCount]="config.parameters.showCount"
                            [searchable]="config.parameters.searchable"
                            [allowExclude]="config.parameters.allowExclude"
                            [allowOr]="config.parameters.allowOr"
                        ></sq-facet-list>
                    </sq-facet-card>
                </ng-template>

                <ng-template uib-template="facet-date" display="Date facet" title="A component that displays a date metadata to filter the results" let-config>
                  <sq-facet-card class="d-block" [title]="config.title" [icon]="config.icon" [collapsible]="config.collapsible">
                      <sq-facet-date #facet
                          [results]="results"
                          [aggregation]="config.parameters.aggregation"
                          [timelineAggregation]="config.parameters.timelineAggregation"
                          [showCount]="config.parameters.showCount"
                          [allowPredefinedRange]="config.parameters.allowPredefinedRange"
                          [allowCustomRange]="config.parameters.allowCustomRange"
                          [showCustomRange]="config.parameters.showCustomRange"
                          [replaceCurrent]="config.parameters.replaceCurrent"
                          [displayEmptyDistributionIntervals]="config.parameters.displayEmptyDistributionIntervals"
                      ></sq-facet-date>
                  </sq-facet-card>
                </ng-template>

                <ng-template uib-template="facet-multi" display="Multiple facet" title="A compact container for multiple facet component" let-config>
                    <sq-facet-card class="d-block" [title]="getMultiFacetTitle(config.id, config.title)" [icon]="getMultiFacetIcon(config.id, config.icon)" [collapsible]="config.collapsible">
                        <sq-facet-multi #facet
                            [results]="results"
                            [facets]="config.facets"
                            [facetComponents]="facetComponents"
                            (events)="facetChanged(config.id, $event)"
                        ></sq-facet-multi>
                    </sq-facet-card>
                </ng-template>
            </uib-zone>
        </div>

        <!-- Results -->
        <div class="col-sm-12 col-lg-5" [ngClass]="{'col-md-6': !showFilters, 'col-md-8': showFilters}" *ngIf="showResults">

            <uib-zone id="results-header" [conditionsData]="conditionsData">
                <ng-template uib-template="tabs" display="Tabs" let-config>
                    <sq-tabs [results]="results" [showCounts]="!config.hideCounts"></sq-tabs>
                </ng-template>

                <ng-template uib-template="filters-view" display="Filters view" let-config>
                  <sq-filters-view
                    class="flex-grow-1 position-relative"
                    [query]="searchService.query"
                    [closeOnClickOutside]="true"
                    [advancedModeClass]="'card position-absolute p-3'"
                    (filterEdit)="searchService.search()">
                  </sq-filters-view>
                </ng-template>

                <ng-template uib-template="result-counter" display="Result counter">
                    <sq-results-counter [rowCount]="searchService.rowCount"></sq-results-counter>
                </ng-template>

                <ng-template uib-template="sort-selector" display="Sort selector" let-config>
                    <sq-sort-selector [results]="results" [rightAligned]="config.rightAligned"></sq-sort-selector>
                </ng-template>

                <ng-template uib-template="did-you-mean" display="Did you mean?">
                    <sq-did-you-mean [results]="results"></sq-did-you-mean>
                </ng-template>

                <ng-template uib-template="sponsored-results" display="Sponsored links">
                    <sq-sponsored-results [query]="searchService.query"></sq-sponsored-results>
                </ng-template>

                <ng-template uib-template="answer-card" display="Answer card" title="Answer generated by Neural Search (if activated)">

                    <!-- Answer card -->
                    <sq-facet-card class="mb-3" *ngIf="hasAnswers" #answersFacet>
                        <sq-answer-card #facet [results]="results" (previewOpened)="onPreviewOpened($event)"
                            (titleClicked)="onTitleClick($event)" [collapsed]="answersFacet._collapsed"></sq-answer-card>
                    </sq-facet-card>

                </ng-template>

                <ng-template uib-template="top-passages" display="Top Passages" title="Top passages generated by Neural Search (if activated)">

                    <!-- nth top passages -->
                    <sq-facet-card class="mb-3" *ngIf="hasPassages" title="msg#machine-learning.passages" icon="fas fa-brain primary-icon" [collapsible]="true" buttonsStyle="primary">
                        <sq-top-passages #facet [results]="results"
                          (passageClicked)="openMiniPreview($event.$record, $event.id)"
                          (documentOpened)="openPreviewIfNoUrl($event, false)"></sq-top-passages>
                    </sq-facet-card>

                </ng-template>


            </uib-zone>

            <!-- List of documents (for loop) -->
            <uib-zone id="results" [data]="results.records" [conditionsData]="conditionsData" (itemClicked)="onDocumentClicked($event.data, $event.event)" class="result-list">

                <ng-template uib-template="result-selector" display="Selector" title="A checkbox to select a document and apply actions onto it" let-config let-record="data">
                    <sq-result-selector [record]="record"></sq-result-selector>
                </ng-template>

                <ng-template uib-template="result-title" display="Document title" let-config let-record="data">
                    <sq-result-title [record]="record" (titleClicked)="openPreviewIfNoUrl(record, $event)"></sq-result-title>
                </ng-template>

                <ng-template uib-template="result-source" display="Document source" let-config let-record="data">
                    <sq-result-source [record]="record" [displayTreepath]="config.displayTreepath" [displayUrl]="config.displayUrl" [displayTreepathMinLevel]="config.displayTreepathMinLevel" [displayTreepathMaxLevel]="config.displayTreepathMaxLevel"></sq-result-source>
                </ng-template>

                <ng-template uib-template="result-extracts" display="Document extracts" let-config let-record="data">
                    <sq-result-extracts [record]="record" [showLongExtracts]="config.showLongExtracts" [hideDate]="config.hideDate" [maxLongExtracts]="config.maxLongExtracts"></sq-result-extracts>
                </ng-template>

                <ng-template uib-template="result-icon" display="Format icon" let-config let-record="data">
                    <sq-result-icon [record]="record" [size]="config.size">
                    </sq-result-icon>
                </ng-template>

                <ng-template uib-template="result-missing-terms" display="Missing Terms" let-config let-record="data">
                    <sq-result-missing-terms [record]="record" [showMustInclude]="config.showMustInclude"></sq-result-missing-terms>
                </ng-template>

                <ng-template uib-template="result-labels" display="Labels" let-config let-record="data">
                    <sq-labels [record]="record" [public]="config.public" [enableDelete]="config.enableDelete"></sq-labels>
                </ng-template>

                <ng-template uib-template="result-thumbnail" display="Thumbnail" let-config let-record="data">
                    <sq-result-thumbnail
                      [record]="record"
                      [thumbnailColumn]="config.thumbnailColumn"
                      [linkBehavior]="config.linkBehavior"
                      [defaultThumbnail]="config.defaultThumbnail"
                      [style.--thumbnail-max-width.px]="config.maxWidth"
                      [style.--thumbnail-max-height.px]="config.maxHeight"
                      [style.--thumbnail-border-radius.px]="config.borderRadius">
                    </sq-result-thumbnail>
                </ng-template>

                <ng-template uib-template="result-metadata" display="Metadata" let-config let-record="data">
                    <sq-metadata [record]="record" [config]="config.metadataConfig" [layout]="config.layout" [query]="searchService.query"></sq-metadata>
                </ng-template>
            </uib-zone>

            <!-- Infinite scroll -->
            <sq-scroller></sq-scroller>

            <!-- Pagination -->
            <!-- <sq-pager [results]="results" class="d-flex flex-column align-items-center mt-3"></sq-pager> -->
        </div>

        <!-- Right part-->
        <div class="col-sm-12 col-lg-4 col-xl-5" [sqSticky]="{top: 80, bottom: 10}">
            <uib-zone id="panel-right" [data]="[openedDoc]" [conditionsData]="conditionsData">
                <ng-template uib-template="preview" display="Preview" title="Preview of a selected document" let-config let-record="data">

                    <sq-facet-card
                        #previewFacet
                        [collapsible]="false"
                        [facetActionsAreSecondary]="true"
                        [viewActionsAreSecondary]="true"
                        secondaryActionsClass="position-absolute end-0 btn-group-vertical mt-2 me-3 bg-light rounded shadow on-preview-hover"
                        viewActionsClass="d-block btn-group mt-2"
                        viewButtonsStyle="outline-primary"
                        [actions]="previewCustomActions"
                        actionsSize=""
                        class="facet-preview">

                        <ng-template #headerTpl>
                          <sq-result-icon [record]="openedDoc" class="me-1"></sq-result-icon>
                          <sq-result-title class="flex-grow-1" [record]="record" field="title" titleLinkBehavior="open-if-url"></sq-result-title>
                        </ng-template>

                        <ng-template #subHeaderTpl>
                            <sq-metadata [record]="record" [config]="config.metadataConfig" [layout]="config.layout" [query]="searchService.query"></sq-metadata>
                        </ng-template>

                        <ng-template [sqFacetView]="{text: 'msg#preview.viewPassages'}" [default]="true" *ngIf="openedDoc?.$hasPassages" #passagesList>
                          <sq-passage-list [record]="openedDoc" [passageId]="passageId"></sq-passage-list>
                        </ng-template>

                        <ng-template [sqFacetView]="{text: 'msg#preview.viewPreview'}">
                          <sq-preview #facet
                            style="height: calc(100vh - 220px);"
                            [id]="openedDoc?.id"
                            [query]="searchService.query"
                            [highlightColors]="globalService.entityHighlights"
                            [highlightEntities]="config.highlightEntities"
                            [highlightExtracts]="config.highlightExtracts"
                            [downloadablePdf]="config.downloadablePdf"
                            [preferenceName]="'mini-preview'"
                            [scale]="0.8">
                          </sq-preview>
                        </ng-template>

                    </sq-facet-card>
                </ng-template>

                <ng-template uib-template="timeline" display="Timeline" let-config>
                    <sq-facet-card [icon]="config.icon" [title]="config.title" [collapsible]="config.collapsible">
                        <sq-facet-timeline #facet [results]="results" [timeseries]="config.timeseries" [events]="config.showRecords? [{field:'modified'}] : []" [theme]="ui.isDark()? 'dark' : 'light'"></sq-facet-timeline>
                    </sq-facet-card>
                </ng-template>

                <ng-template uib-template="heatmap" display="Heatmap" let-config>
                    <sq-facet-card [icon]="config.icon" [title]="config.title" [collapsible]="config.collapsible">
                        <sq-facet-heatmap #facet [results]="results" [fieldX]="config.fieldX" [fieldY]="config.fieldY" [fieldsX]="config.fields" [fieldsY]="config.fields" [theme]="ui.isDark()? 'dark' : 'light'"></sq-facet-heatmap>
                    </sq-facet-card>
                </ng-template>

                <ng-template uib-template="chart" display="Chart" let-config>
                    <sq-facet-card [icon]="config.icon" [title]="config.title" [collapsible]="config.collapsible">
                        <sq-fusion-chart #facet
                            [results]="results"
                            [type]="config.chartType"
                            [types]="config.chartTypes.length? config.chartTypes : null"
                            [aggregation]="config.aggregation"
                            [aggregations]="config.aggregations.length? config.aggregations : null"
                            [chart]="{theme: ui.isDark()?'candy':'fusion', labelDisplay:'rotate', slantLabel:'1'}"
                            [defaultColor]="config.defaultColor"
                            [filteredColor]="config.filteredColor"
                            [selectedColor]="config.selectedColor">
                        </sq-fusion-chart>
                    </sq-facet-card>
                </ng-template>

                <ng-template uib-template="slide-builder" display="Slide Builder" title="A component to assemble a list of selected slides and to export them as as single PowerPoint file" let-config>
                  <sq-facet-card
                      [collapsible]="config.collapsible"
                      [icon]="config.icon"
                      [title]="config.title"
                      tooltip="Click on a slide from the search results to add it to the Slide Deck Builder.">
                      <sq-slide-builder #facet
                        [enableSaveAsBasket]="config.enableSaveAsBasket">
                      </sq-slide-builder>
                  </sq-facet-card>
                </ng-template>

                <ng-template uib-template="comments" display="Comments" title="A component to display a thread of comments associated to a document" let-config let-record="data">
                  <sq-facet-card
                      [collapsible]="config.collapsible"
                      [icon]="config.icon"
                      [title]="config.title">
                      <sq-comments [docid]="record?.id"></sq-comments>
                  </sq-facet-card>
                </ng-template>

                <ng-template uib-template="network" display="Network" let-config let-record="data">
                  <sq-facet-card
                      [collapsible]="config.collapsible"
                      [icon]="config.icon"
                      [title]="config.title">
                      <sq-network #facet [results]="results" [providers]="config | sqNetwork"></sq-network>
                  </sq-facet-card>
                </ng-template>
            </uib-zone>

            <!-- Without selected document -->
            <!-- hidden only on md resolution -->
            <sq-facet-card *ngIf="!openedDoc" class="d-none d-sm-block no-record" [ngClass]="{ 'd-none d-lg-block mb-3': showFilters }" [collapsible]="false" [title]="'msg#preview.documentPreview'">
              <div class="text-center">
                  <img src="assets/sinequa-empty-preview.png" class="mb-3">
                  <p class="fw-bold">{{'msg#preview.documentPreviewTitle' | sqMessage}}</p>
                  <p>{{'msg#preview.documentPreviewDescription' | sqMessage}}</p>
              </div>
            </sq-facet-card>

          </div>
    </div>
</div>
<!-- Result selection toolbar -->
<div class="card-action-bar rounded text-white bg-primary position-fixed w-auto p-2 d-none d-md-block" *ngIf="ui.screenSizeIsGreater('sm')">
    <sq-results-selector [style]="'primary'"></sq-results-selector>
</div>

<app-search-configurator></app-search-configurator>