node-options="--max-old-space-size=8192"
--config-path:registry=https://npm.sinequa.com:4873
//npm.sinequa.com:4873/:_authToken=LhqUGdXjXPoRDz0k85K+slF89zaNowXJTPIHLYKkQXQxk9YdtovXuM2WX8wx89f0
registry=npm.sinequa.com:4873/
