<uib-zone id="home" *ngIf="loginService.complete" class="home">

     <ng-template uib-template="home-logo" display="Homepage logo" let-config>
        <img id="logo" [src]="config.images.logoLight.filename" [attr.width]="config.images.logoLight.width" [attr.height]="config.images.logoLight.height" *ngIf="config.images && !isDark()">
        <img id="logo" [src]="config.images.logoDark.filename" *ngIf="config.images && isDark()">
    </ng-template>

    <ng-template uib-template="search-form" display="Search form" let-config>
        <app-search-form [autocompleteSources]="config.autocompleteSources"></app-search-form>
    </ng-template>

    <ng-template uib-template="home-actions" display="Homepage actions">

        <!-- Login/Logout link -->
        <button class="btn btn-link" (click)="toggleLogin()">{{ (loginService.complete ? 'msg#userMenu.logout' : 'msg#userMenu.login') | sqMessage}}</button>

        <span> &bull; </span>

        <!-- Dark mode -->
        <button class="btn btn-link" (click)="toggleDark()">{{ (isDark()? 'msg#home.lightMode' : 'msg#home.darkMode') | sqMessage}}</button>

    </ng-template>

    <ng-template uib-template="recent-documents" display="Recent documents" let-config>
        <sq-facet-card
            [title]="'msg#recentDocuments.recentDocuments'"
            [collapsible]="false"
            [icon]="'fas fa-file-alt'">
            <sq-facet-recent-documents #facet [maxDocuments]="config.maxItems"></sq-facet-recent-documents>
        </sq-facet-card>
    </ng-template>

    <ng-template uib-template="recent-queries" display="Recent queries" let-config>
        <sq-facet-card
            [title]="'msg#facet.recentQueries.title'"
            [collapsible]="false"
            [icon]="'fas fa-history'">
            <sq-facet-recent-queries #facet [maxQueries]="config.maxItems"></sq-facet-recent-queries>
        </sq-facet-card>
    </ng-template>

    <ng-template uib-template="saved-queries" display="Saved queries" let-config>
        <sq-facet-card
            [title]="'msg#savedQueries.savedQueries'"
            [collapsible]="false"
            [icon]="'fas fa-save'">
            <sq-facet-saved-queries #facet [maxQueries]="config.maxItems"></sq-facet-saved-queries>
        </sq-facet-card>
    </ng-template>

    <ng-template uib-template="baskets" display="Collections" let-config>
        <sq-facet-card
            [title]="'msg#baskets.baskets'"
            [collapsible]="false"
            [icon]="'fas fa-inbox'">
            <sq-facet-baskets #facet [maxBaskets]="config.maxItems"></sq-facet-baskets>
        </sq-facet-card>
    </ng-template>
</uib-zone>

<app-home-configurator></app-home-configurator>
