
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
    height: 158px;
}

app-search-form {
    display: block;
    width: 600px;
    max-width: 95vw;
}
