<div [style.margin-left.px]="level*marginPx" class="d-flex align-items-center sq-item-info mb-2" *ngIf="isString(item.value)">
    <span class="item-key">{{item.key}}:</span>
    <span class="flex-grow-1 sq-text-ellipsis mx-2">{{item.value}}</span>
    <i class="fas fa-edit cursor-pointer" (click)="editValue()"></i>
    <i class="fas fa-trash ms-2 cursor-pointer" (click)="removeItem(false)"></i>
</div>
<div [style.margin-left.px]="level*marginPx" *ngIf="!isString(item.value)">
    <div class="d-flex align-items-center sq-item-info">
        <span (click)="item.displayed=!item.displayed" class="cursor-pointer form-label flex-grow-1">
            <i class="fas" [class.fa-caret-right]="!item.displayed" [class.fa-caret-down]="item.displayed"></i>
            {{item.key}}:
        </span>
        <i class="fas fa-plus cursor-pointer" (click)="addItem()"></i>
        <i class="fas fa-trash cursor-pointer ms-2" *ngIf="level > 0" (click)="removeItem(true)"></i>
    </div>
    <ng-container *ngIf="item.displayed">
        <app-translation-item
            *ngFor="let values of item.value | keyvalue | sqStringFilter:filter"
            [item]="values"
            [level]="level+1"
            [filter]="filter"
            [path]="currentPath"
            (updated)="updated.emit($event)"
            (removed)="performRemoval($event)"></app-translation-item>
    </ng-container>
</div>