body:not(.dark) {
  .form-check-input {

    &:checked {
      background-color: var(--primary, var(--bs-primary));
      border-color: var(--primary, var(--bs-primary));
    }

    &:focus {
      border-color: var(--primary-400, var(--bs-primary));
      --shadow-rgb: 13, 110, 253;
      box-shadow: 0 0 0 .25rem rgb(var(--primary-rgb, var(--shadow-rgb)), .25);
    }
  }
}