body:not(.dark) {
  nav {
    &.navbar {
      --navbar-bg: #f8f9fa;
      background-color: var(--brand, var(--navbar-bg));

      .nav-link {
        color: var(--sq-text, rgba(0,0,0,0.55));

        &:hover,
        &:focus {
          color: var(--sq-text-hover, rgba(0,0,0,0.7));
        }
      }
    }
  }


  sq-tabs {
    .nav-tabs {
      color: var(--sq-text);
      border-bottom-color: var(--brand, #dee2e6);

      .nav-link {
        &.active, &.active:hover {
          --border-color: var(--brand) var(--brand) var(--background-color);
          border-color: var(--border-color, #dee2e6 #dee2e6 #fff);
        }
        &:hover {
          border-color: var(--brand, #dee2e6 #dee2e6);
        }
      }

      .nav-link.active,
      .show>.nav-link {
        color: var(--sq-text, #495057);
        background-color: var(--background-color, #fff);
      }

    }


    .nav-item .count {
      font-size: 0.9em;
      color: var(--secondary, #6c757d);
    }
  }
}