
@import "@sinequa/components/theme/sinequa";
@import "@sinequa/ngx-ui-builder/styles/ui-builder";

// File formats & metadata icons
@import "icons";

// Preview stylings (incl. entity highlights & metadata)
@import "preview";

// override preview .matchlocations properties now that the <b> we used to have for them
// are now with this class
span.matchlocations:not(.sq-inactive) {
    font-weight: 600;
    color: inherit !important;
    background-color: transparent !important;
}

// SBA components custom CSS overrides
@import "vanilla";

// allow cusomization
// @import 'themes/custom';