
@import "@angular/cdk/overlay-prebuilt";

// Overriding Bootstrap variables
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 992px,
        lg: 1400px,
        xl: 1650px
);

$container-max-widths: (
        sm: 540px,
        md: 960px,
        lg: 1360px,
        xl: 1610px
);

// Bootstrap styles
@import "../../../../node_modules/bootstrap/scss/bootstrap";

@import "../../../../node_modules/@sinequa/ngx-ui-builder/styles/ui-builder";

// Fontawesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";

@import "vis-network/dist/dist/vis-network.min.css";


.btn-link {
  text-decoration: none;
}

// CDK drag & drop
.cdk-drag-preview {
    z-index: 2000 !important;
}

// Validation
sq-validation-message {
    @extend .invalid-feedback;
    .form-group > .is-invalid ~ & {
        display: block;
    }
}

// File formats & metadata icons
@import "icons";

// Preview stylings (incl. entity highlights & metadata)
@import "preview";

// Sinequa components stylesheets
$action-menu-breakpoint: sm;
@import "../../../../node_modules/@sinequa/components/action/bootstrap/action.scss";
@import "../../../../node_modules/@sinequa/components/notification/bootstrap/notification.scss";
@import "../../../../node_modules/@sinequa/components/metadata/metadata.scss";
@import "../../../../node_modules/@sinequa/components/advanced/bootstrap/advanced.scss";

// default sinequa configuration
@import 'themes/default';
// allow cusomization
@import 'themes/custom';


@import 'dark-mode';
